//  -----------------------------------------------------------------------------------------
//    QSVEnc by rigaya
//  -----------------------------------------------------------------------------------------
//   ソースコードについて
//   ・無保証です。
//   ・本ソースコードを使用したことによるいかなる損害・トラブルについてrigayaは責任を負いません。
//   以上に了解して頂ける場合、本ソースコードの使用、複製、改変、再頒布を行って頂いて構いません。
//  -----------------------------------------------------------------------------------------

#include <winver.h>
#include "QSVEncC_version.h"

RGY_FILTER_CL                EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter.cl"

RGY_FILTER_AFS_FILTER_CL     EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_afs_filter.cl"
RGY_FILTER_AFS_MERGE_CL      EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_afs_merge.cl"
RGY_FILTER_AFS_ANALYZE_CL    EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_afs_analyze.cl"
RGY_FILTER_AFS_SYNTHESIZE_CL EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_afs_synthesize.cl"

RGY_FILTER_NNEDI_K0_CL     EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_nnedi_k0.cl"
RGY_FILTER_NNEDI_K1_CL     EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_nnedi_k1.cl"
RGY_FILTER_NNEDI_COMMON_CL EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_nnedi_common.cl"
NNEDI_WEIGHTBIN            EXE_DATA DISCARDABLE "..\\resource\\nnedi3_weights.bin"

RGY_FILTER_YADIF_CL           EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_yadif.cl"
RGY_FILTER_MPDECIMATE_CL      EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_mpdecimate.cl"
RGY_FILTER_DECIMATE_CL        EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_decimate.cl"
RGY_FILTER_DECOMB_CL          EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_decomb.cl"
RGY_FILTER_DELOGO_CL          EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_delogo.cl"
RGY_FILTER_CONVOLUTION3D_CL   EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_convolution3d.cl"
RGY_FILTER_DENOISE_DCT_CL     EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_denoise_dct.cl"
RGY_FILTER_DENOISE_FFT3D_CL   EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_denoise_fft3d.cl"
RGY_FILTER_DENOISE_KNN_CL     EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_denoise_knn.cl"
RGY_FILTER_DENOISE_NLMEANS_CL EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_denoise_nlmeans.cl"
RGY_FILTER_DENOISE_PMD_CL     EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_denoise_pmd.cl"
RGY_FILTER_SMOOTH_CL          EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_smooth.cl"
RGY_FILTER_PAD_CL             EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_pad.cl"
RGY_FILTER_RESIZE_CL          EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_resize.cl"
RGY_FILTER_SUBBURN_CL         EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_subburn.cl"
RGY_FILTER_TRANSFORM_CL       EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_transform.cl"
RGY_FILTER_UNSHARP_CL         EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_unsharp.cl"
RGY_FILTER_EDGELEVEL_CL       EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_edgelevel.cl"
RGY_FILTER_WARPSHARP_CL       EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_warpsharp.cl"
RGY_FILTER_OVERLAY_CL         EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_overlay.cl"
RGY_FILTER_CURVES_CL          EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_curves.cl"
RGY_FILTER_TWEAK_CL           EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_tweak.cl"

RGY_FILTER_COLORSPACE_CL  EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_colorspace_func.h"

RGY_FILTER_DEBAND_CL                 EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_deband.cl"
RGY_FILTER_DEBAND_GEN_RAND_CL        EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_deband_gen_rand.cl"
RGY_FILTER_CLRNG_CLH                 EXE_DATA DISCARDABLE "..\\clRNG\\src\\include\\clRNG\\clRNG.clh"
RGY_FILTER_CLRNG_MRG31K3P_CLH        EXE_DATA DISCARDABLE "..\\clRNG\\src\\include\\clRNG\\mrg31k3p.clh"
RGY_FILTER_CLRNG_MRG31K3P_PRIVATE_CH EXE_DATA DISCARDABLE "..\\clRNG\\src\\include\\clRNG\\private\\mrg31k3p.c.h"

RGY_FILTER_SSIM_CL EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_filter_ssim.cl"

RGY_DUMMY_LOAD_CL EXE_DATA DISCARDABLE "..\\QSVPipeline\\rgy_dummy_load.cl"

PERF_MONITOR_PYW PERF_MONITOR_SRC DISCARDABLE "..\\PerfMonitor\\perf_monitor.pyw"

APP_OSCODEPAGE_MANIFEST EXE_DATA DISCARDABLE "QSVEncC.oscodepage.manifest"

//
// Version Information
//


VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       ( VER_DEBUG | VER_PRIVATE )
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "Comments",         VER_STR_COMMENTS
            VALUE "CompanyName",      VER_STR_COMPANYNAME
            VALUE "FileDescription",  VER_STR_FILEDESCRIPTION
            VALUE "FileVersion",      VER_STR_FILEVERSION
            VALUE "InternalName",     VER_STR_INTERNALNAME
            VALUE "LegalCopyright",   VER_STR_LEGALCOPYRIGHT
            VALUE "OriginalFileName", VER_STR_ORIGINALFILENAME
            VALUE "ProductName",      VER_STR_PRODUCTNAME
            VALUE "ProductVersion",   VER_STR_PRODUCTVERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END